html{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

body {
    margin: 0 auto;
    width: 1400px;
}

/* 
    hero-part 
*/

header {
    margin: 0 auto;
    background-color: #1F2937;
}

.content{
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px 0;
    flex-grow: 1;
}

.logo a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 2.4rem;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

li{
    list-style-type: none;
}

li a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #E5E7EB;
}

.hero {
    margin: 0;
    display: flex;
    align-items: center;
}

.hero-title {
    flex: 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.hero-title .hero-title-main{
    font-size: 4.8rem;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 10px 0;
}

.hero-title .hero-title-sub {
    font-size: 1.8rem;
    color: #E5E7EB;
    margin: 10px 0;
}

.primary {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 1.8rem;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
}

.hero-image {
    flex: 1 50%;
    padding: 80px 0px 80px 10px;
}

.hero-image img {
    max-width: 100%;
}

/*
    main
*/

main {
    background-color: #F9FAF8;
    color: #1F2937;
}

.main-title {
    font-size: 3.6rem;
    font-weight: 900;
    align-self: center;
    
    margin-top: 50px;
    margin-bottom: 30px;
}

.main-cards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: flex-start;
    margin-bottom: 40px;
}

main .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
    width: 160px;
    margin: 20px 30px;
}

.card img{
    width: 100%;
    aspect-ratio: 3/4;
    border: 3px solid #3882F6;
    border-radius: 20px;
    margin: 10px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 3.6rem;
    font-weight: light;
    font-style: italic;
}

.quote-content{
    width: 900px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 80px 0;
}

.speaker {
    font-size: 2.4rem;
    font-weight: 700;
    font-style: normal;
    text-align: right;
}